@-moz-document url-prefix("https://beta.nomi.ai/nomis/") {
/* ========================================================================
   === Credits ===

Created by: BreatFR
Creatied on: 2023/08/08
Version 1.2
Website: https://breat.fr
facebook: https://www.facebook.com/breatfroff
mastodon: https://mastodon.social/@breat_fr
telegram group: https://t.me/+5ZLC2qntf6xmYmI0
vk: https://vk.com/breatfroff
X (twitter): https://x.com/breatfroff

======================================================================= */

/* ========================================================================
   Bigger chat font size
 ======================================================================= */
.css-2hr7pt,
.css-3td3fo,
.css-d56yar {
    font-size: 20px;
}

/* ========================================================================
   Remove logo at the top left corner
 ======================================================================= */
.css-zkgx86, /* Remove logo */
.css-e2xlbb.el09qsr0 > div:nth-of-type(1) /* Remove border under removed logo */{
    display: none;
}

/* Remove borders between nomis list if more than 1 nomi */
.css-nzao1s.eawisc75 div {
    border: 0px !important;
}

/* ========================================================================
   Thin scrollbars for normally all browsers
 ======================================================================= */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: rgb(184, 191, 198);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: white; 
}

/* ========================================================================
   Heart background
 ======================================================================= */
.css-1vi0cy8 {
    background-image: url(https://i.ibb.co/fYQkYyc/heart-pattern.png);
    background-attachment: fixed;
}

/* ========================================================================
   Our bubbles color
 ======================================================================= */
.css-13w4jtb {
    background: linear-gradient(to right, #3a6186, #89253e);
}

/* ========================================================================
   Pictures in row in chat
 ======================================================================= */
.css-1cwe3m3 {
    align-items: center;
    display: grid;
    grid-gap: 8px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: flex-start;
    justify-items: center;
}

/* ========================================================================
   Dark theme
 ======================================================================= */
/* Light color for all texts */
* {
    color: var(--toastify-color-light) !important;
}

/* Dark background color on whole page */
body,
textarea,
.css-1je5qdk,
.css-1ejta19,
.css-1n084m6,
.css-1ooloxp {
    background: rgb(9, 16, 29) !important;
}

/* Remove border on pop up for selfie request */
.css-wwpt19 {
    border: 0px !important;
}

/* All SVG are white */
.css-sgter1 svg path,
.css-70qvj9 svg path,
.css-136m6w0 svg path,
.css-1n084m6 svg path {
    fill: white;
}

/* Selfie notifications */
.Toastify__toast-theme--light,
.Toastify__toast-body,
/* Fix bubble during selfie is taking to make her more visible */
.css-12kxn86,
.css-kkk4zb {
    background: #616161 !important;
}

/* Fix focus changing color of border textarea */
textarea:focus {
    border-color: #9610FF !important;
}

/* Date bubble color */
.css-ygnlmt {
    background: rgb(117, 117, 117) !important;
}

/* Make send button visible again when disabled */
.css-ntdqfs:disabled,
.css-1x4dmv7:disabled {
    background-color: gray !important;
    cursor: not-allowed !important;
}

/* Nomi's answers */
.css-afkp3z, /* Nomi's bubbles color */
.css-1ve1qsh/* Nomi's bubbles color when she answer */ {
    background: linear-gradient(to right, #cc2b5e, #753a88);
}

/* Replace thumbs background and remove borders */
.css-16hofwr,
.css-d3fk4o,
.css-vocaqi {
    background: rgb(9, 16, 29) !important;
    border: 0px !important;
}

/* Remove free space on screen size 992px and more and rearrange a little the space */
@media (min-width: 992px) {
    .css-1fswsvh {
        margin-left: min(25vw, 480px);
        padding: 0px !important;
    }

    /* Add a marge and resize the textarea */
    textarea {
        margin-left: 15px;
        width: 98% !important;
    }

    /* Add a marge to icons on the right of textarea */
    .css-alqmgy {
        margin-right: 10px !important;
    }

    /* Add a marge to Nomi's answers */
    .css-3fim88, /* pAlign pics in chat  with bubbles again */
    .css-afkp3z, /* Nomi's bubbles  */
    .css-1ve1qsh/* Nomi's bubbles when she answer */ {
        margin-left: 20px;
    }

    /* Add a marge to our bubbles */
    .css-13w4jtb {
        margin-right: 20px !important;
    }
}
}

@-moz-document url("https://beta.nomi.ai/"), url("https://beta.nomi.ai/sign-in"), url("https://beta.nomi.ai/nomis"), url("https://beta.nomi.ai/profile/account"), url("https://beta.nomi.ai/nomis/new"), url("https://beta.nomi.ai/privacy-policy"), url("https://beta.nomi.ai/terms-of-service"), url("https://beta.nomi.ai/profile/settings"), url-prefix("https://beta.nomi.ai/profile/nomis"), regexp("https://beta\\.nomi\\.ai/nomis/\\d+/photo-album") {
/* Dark background color for whole site */
body,
input,
select,
ul.css-497xvz,
.css-ea8az7,
.css-1j5d3ll,
.css-8oy3d3,
.css-1j19l95,
.css-mcumek,
.css-9i2gok,
.css-7fgif5,
.css-13esyrq,
.css-1n084m6,
.css-vtzx0o,
.css-1d7lv4w,
.react-datepicker__month-container,
.react-datepicker__header {
    background: rgb(9, 16, 29) !important;
}

/* Light text for whole site */
* {
    color: var(--toastify-color-light) !important;
}

/* SVG are white */
.css-15zum9u svg path,
.css-uixws svg path,
.css-odz94x svg path,
.css-jy06mt svg path,
.css-r9bic9 svg path,
.css-wrx5df svg path,
.css-bxdqnu svg path,
.css-1ji2ynh svg path,
.css-79elbk svg path,
.css-hsqzc1 svg path,
.css-1qvkgqq svg path {
    fill: white;
}

/* Make logout SVG and text red again */
.css-1rv67vh,
.css-1hmb4pn svg path {
    color: #e74c3c !important;
    fill: #e74c3c;
}

/* Fix SVG on nomi details page when hover */
.css-bxdqnu:hover svg path {
    fill: black;
}

/* Delete account button */
.css-1yp80wt {
    color: #e74c3c !important;
}

/* Make "Send" button and "Delete Nomi Forever" visible again when disabled */
.css-8as6rk:disabled,
.css-12a128q:disabled {
    background-color: gray !important;
    cursor: not-allowed !important;
}

/* Fix some buttons and bubbles to make them more visible */
.css-9i2gok,
.css-hsqzc1,
.css-1qvkgqq,
.css-bxdqnu:hover /* Fix nomi details page hover */ {
    background-color: gray !important;
}

/* Blue background for the Welcome bubble */
.css-vzyen4 > div,
.css-njko3y,
.css-1pva706,
.css-vzyen4 {
    background: var(--toastify-color-info) !important;
}

/* Purple logo */
.css-8921e0,
.css-zkgx86,
.css-g6cz36 {
    color: rgb(150, 16, 255) !important;
}

/* Titles on new nomi page */
h5.css-124mhq6 {
    background: transparent!important;
    color: var(--toastify-color-light) !important;
}

/* Delete Nomi buttons */
button.css-8as6rk,
.css-a6rva7 button {
    background: rgb(247, 85, 85);
}

/* ========================================================================
   Thin scrollbars for normally all browsers
 ======================================================================= */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: rgb(184, 191, 198);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: white; 
}
}
