@-moz-document domain("nomi.ai") {
/* === Credits ===
Created by: BreatFR
Creatied on: 2023/08/08
Website: https://breat.fr
facebook: https://www.facebook.com/breatfroff
mastodon: https://mastodon.social/@breat_fr
telegram group: https://t.me/+5ZLC2qntf6xmYmI0
vk: https://vk.com/breatfroff
X (twitter): https://x.com/breatfroff
=== Credits === */

/* ========================================================================
   Bigger chat font size
 ======================================================================= */
.css-2hr7pt,
.css-3td3fo,
.css-d56yar {
    font-size: 20px;
}

/* ========================================================================
   Remove logo at the top left corner
 ======================================================================= */
.css-zkgx86, /* Remove logo */
.css-e2xlbb.el09qsr0 > div:nth-of-type(1) /* Remove border under removed logo */{
    display: none;
}

/* ========================================================================
   Heart background
 ======================================================================= */
.css-1vi0cy8 {
    background: url(https://i.ibb.co/fYQkYyc/heart-pattern.png) fixed 100% !important;
}

/* ========================================================================
   Thin scrollbars for normally all browsers
 ======================================================================= */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: rgb(184, 191, 198);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: white; 
}

/* ========================================================================
   Bigger image in picture viewer
 ======================================================================= */
.css-staxus {
    height: 100% !important;
}

/* ========================================================================
   Make textarea to grow to the top and not to the down
 ======================================================================= */
textarea {
    height: auto;
    resize: vertical;
}

/* ========================================================================
   Pictures in row in chat
 ======================================================================= */
.css-1cwe3m3 {
    align-items: center;
    display: grid;
    grid-gap: 8px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: flex-start;
    justify-items: center;
}

/* ========================================================================
   Smaller height of menu
 ======================================================================= */
.css-udmu36 {
    max-height: 75px !important;
}

/* ========================================================================
   Nomi's names list on left side
 ======================================================================= */
/* Smaller names */
.css-5f4tlo {
    line-height: 100%;
    padding: 10px 0px;
}

/* Remove borders between nomis list if more than 1 nomi */
.css-nzao1s.eawisc75 div {
    border: 0px !important;
}

/* ========================================================================
   Dark theme
 ======================================================================= */
/* Light color for all texts */
* {
    color: var(--toastify-color-light) !important;
}

/* Dark background color on whole page */
body,
input,
select,
textarea,
--toastify-spinner-color-empty-area,
ul.css-497xvz,
.css-18rjz9j,
.css-ea8az7,
.css-1j5d3ll,
.css-8oy3d3,
.css-1j19l95,
.css-mcumek,
.css-9i2gok,
.css-7fgif5,
.css-13esyrq,
.css-1n084m6,
.css-vtzx0o,
.css-1l1u68n,
.css-i616ue,
.css-1d7lv4w,
.react-datepicker__month-container,
.react-datepicker__header,
.css-1je5qdk,
.css-1ejta19,
.css-1n084m6,
.css-1ooloxp {
    background: rgb(9, 16, 29) !important;
}

/* Remove border on pop up for selfie request */
.css-wwpt19 {
    border: 0px !important;
}

/* Nomi.ai color in menu */
.css-g6cz36 {
    color: rgb(150, 16, 255) !important;
}

/* SVG are white */
svg path {
    stroke: white;
}

.css-1u2l9gp svg path {
    stroke: rgb(9, 16, 29);
}

/* Fix spinner */
.css-1iw9n18 svg path {
    stroke: none;
}

/* Fix SVG menu */
.css-i3pbo svg path,
.css-vo6oh1 svg path,
/* Fix SVG customization */
.css-1v8aab4 svg path,
.css-1o5vjud svg path {
    stroke: rgb(150, 16, 255);
}

/* Fix camera button */
.css-1x4dmv7 svg path {
    fill: rgb(150, 16, 255);
}

/* Make logout SVG and text red again */
.css-1rv67vh,
.css-1hmb4pn svg path,
/* Make delete image SVG red */
.css-l9wrht svg path {
    color: #e74c3c !important;
    fill: #e74c3c;
}

/* Delete account button */
.css-1yp80wt {
    align-items: center;
    background-color: rgb(247, 85, 85);
    border: 2px solid rgb(247, 85, 85);
    border-radius: 100px;
    display: flex;
    font-size: 16px;
    font-weight: 600;
    height: 58px;
    letter-spacing: 0.2px;
    line-height: 22px;
    padding: 18px 32px;    
}

/* Delete Nomi buttons */
button.css-8as6rk,
.css-a6rva7 button {
    background-color: #e74c3c !important;
    color: white !important;
}

/* Fix SVG on nomi details page when hover */
.css-bxdqnu:hover svg path {
    fill: white;
}

/* Fix some buttons and bubbles to make them more visible */
.css-9i2gok,
.css-hsqzc1,
.css-1qvkgqq,
.css-bxdqnu:hover /* Fix nomi details page hover */ {
    background-color: gray !important;
}

/* Blue background for the Welcome bubble */
.css-1y64612 > :last-child {
    background: var(--toastify-color-info) !important;
}

/* Titles on new nomi page */
h5.css-124mhq6 {
    background: transparent!important;
    color: var(--toastify-color-light) !important;
}

/* Selfie notifications */
.Toastify__zoom-enter svg path,
.Toastify__zoom-error svg path,
.Toastify__toast-theme--light,
.Toastify__toast-body,
/* Fix bubble during selfie is taking to make her more visible */
.css-12kxn86,
.css-kkk4zb {
    background: #616161 !important;
    stroke: none;
}

/* Fix focus changing color of border textarea */
textarea:focus {
    border-color: #9610FF !important;
}

/* Make "Send" button and "Delete Nomi Forever" visible again when disabled */
.css-8as6rk:disabled,
.css-12a128q:disabled,
.css-1x4dmv7:disabled svg path {
    background-color: gray !important;
    cursor: not-allowed !important;
    fill: gray;
}

/* Date bubble color */
.css-ygnlmt {
    background: rgb(117, 117, 117) !important;
}

/* Make send button visible again when disabled */
.css-ntdqfs:disabled,
.css-1x4dmv7:disabled {
    background-color: gray !important;
    cursor: not-allowed !important;
}

/* Our bubbles color */
.css-3td3fo, /* Our bubbles color mobile */
.css-13w4jtb {
    background: linear-gradient(to right, #3a6186, #89253e);
    border-radius: 20px 8px 20px 20px;
}

/* Replace thumbs background and remove borders */
.css-16hofwr,
.css-d3fk4o,
.css-vocaqi {
    background: rgb(9, 16, 29) !important;
    border: 0px !important;
}

@media (max-width: 1632px) {
    /* Remove free space on screen size 640px and more and rearrange a little the space */
    .css-1fswsvh {
        margin-left: min(25vw, 640px);
        padding-right: 10px;
    }
    
    /* Nomi's answers */
    .css-2hr7pt, /* Nomi's bubbles color mobile */
    .css-afkp3z, /* Nomi's bubbles color */
    .css-1ve1qsh /* Nomi's bubbles color when she answer */ {
        background: linear-gradient(to right, #cc2b5e, #753a88);
        border-radius: 8px 20px 20px 20px !important;
    }

    /* Add space between form elements */
    form {
        gap: 10px;
    }
}

@media (min-width: 1632px) {
    /* Put profile pic in full size without going in album */
    .css-e2xlbb,
    .css-nzao1s {
        border-right: 0px;
        max-width: 768px;
        margin: 0px;
        padding: 0px !important;
        width: 768px;
    }
    
    /* Hide scroll bar but keep the function */
    .css-1htcw6x {
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .css-1htcw6x::-webkit-scrollbar {
        width: 0px !important;
    }

    .css-1htcw6x::-webkit-scrollbar {
        width: 0px;
        background-color: transparent;
    }

    .css-1htcw6x::-webkit-scrollbar-thumb {
        background-color: transparent;
        border-radius: 4px;
    }

    .css-1htcw6x::-webkit-scrollbar-thumb:hover {
        background-color: transparent;
    }
    
    .css-1fswsvh {
        margin-left: 758px;
        padding: 0px 10px 0px 0px;
    }
    
    .css-udmu36 {
        border-top: 0px;
    }
    
    /* Nomi's answer */
    .css-1ve1qsh,
    .css-afkp3z,
    .css-1fge6cp {
        background: linear-gradient(to right, #cc2b5e, #753a88);
        border-radius: 8px 20px 20px 20px !important;
        margin-left: 20px !important;
    }
    
    /* Add space between form elements */
    form {
        gap: 10px;
        padding-left: 20px !important;
    }
    .css-alqmgy {
        gap: 10px;
    }
}
}
